{{article.title}} <br />
category: <a href="{{article.category.get_absolute_url}}">{{article.category.name}} </a><br />
tags: {% for tag in article.tags.all %}<a href="{{tag.get_absolute_url}}">{{tag}} {% if forloop.last %}{% else %},{% endif %}</a>{% endfor %} <br />
<form action="{% url 'article_detail' article.id article.title  %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Send</button>
</form>
{% for img in article.galleries.all %}
    <img src="{{img.image.url}}" alt="{{img.title}}">
{% endfor %}
{% for download_box in article.download_boxs.all %}
    <a href="{{download_box.url}}">{{download_box.title}}</a>
{% endfor %}

<hr>

{% for post in related_posts %}
    <a href="{{post.get_absolute_url}}">{{post.title}}</a>
{% endfor %}

<hr />

{% if today_ads %}
    <img src="{{today_ads.image.url}}" />
{% endif %}