<section class="right-sidebar col col-md-3 rounded d-flex flex-column gap-4">
    {% if articles %}
        <div class="bg-dark p-3 rounded">
            <h4 class="fw-bold">مطالب محبوب</h4>
            <ul class="d-flex flex-column flex-wrap w-100">
                {% for article in articles %}
                <li class="fs-4 p-1 text-wrap"><a href="{{article.get_absolute_url}}" class="nav-link text-decoration-none text-white">{{article.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</section>